#main_bar {margin: 20px 0}
#chat {position: relative;}
#chat-messages {padding-right: 25px}

#chat-messages li.alert-info {padding-right: 15px;}

#chat-list-wrapper {height: 430px; overflow: hidden; outline: 0 none;}
#chat-list {margin-bottom: 0; padding-right: 20px}

#chat-list li [class*="span"] { min-height:  15px}
#chat-list .login {overflow: hidden}
#chat-list .login i {display: none;}
#chat-list .active a {background-color: #EEE}

#chat .chat-top{height:439px;}
#chat .chat-top-client{height:239px;}

#chat .chat-top-client #chat-messages-wrapper {height: 230px; overflow: hidden; outline: 0 none;}
#chat-messages-wrapper {height: 430px; overflow: hidden; outline: 0 none;}

#chat-messages ul.messages_wrap {display: none; overflow: hidden}
#chat-messages ul.messages_wrap.active {display: block}

#chat-messages ul.messages_wrap li {overflow: hidden}

#chat-list .new_message {font-weight: normal}
#chat-list .new_message strong {font-size: 12px;}
#chat-list.nav-tabs > li > a { padding-top: 3px; padding-bottom: 3px; }

.history .nav { margin: 0 }
.history .nav-pills > li > a { padding-top: 3px; padding-bottom: 3px; }
.history [class*="span"] { min-height:  15px}

#chat .alert {margin-bottom: 0;}

#chat .additional_info {text-align: center; font-size: 13px;}

.messages_wrap li.marker strong {color: #016801}

.default_text {text-align: center; padding: 30px 0}

.login.online {color: #016801}

#chat .shadow {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background:rgba(0,0,0,0.5);
    text-align:center;
    font-size:28px;
    color:#fff;
    overflow:hidden;
    z-index: 5;
}

#chat .shadow .info {
    margin-top: 220px;
}

.fileupload .fileupload-exists input[type=text],
.fileupload input[type=text].fileupload-exists {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.alert ul {margin-bottom: 0}

.thumbnails li {
    position: relative;
}

.thumbnails li .delete {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background:rgba(0,0,0,0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.thumbnails li:hover .delete {
    display: block;
}

.btn-group.wa_round_left > .btn:first-child,
.btn-group.wa_round_right > .btn:last-child {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

#findInMessages {margin-top: 20px}

#findInMessages .btn-group .btn {
    width: 50%;
}

#findInMessages .well {
    margin-bottom: 0;
}

#findInMessages .btn.active {
    border-color: #bbb;
}

#findInMessages .input-append {
    margin-bottom: 0;
}

.table tbody tr.deleted td {
    background-color: whiteSmoke;
}

.messages_wrap span.highlight {
    background-color: #fff34d;
}

#chat_informer {
    position: fixed;
    bottom: 0;
    left: 15px;
    width: 250px;
}

#chat_informer .item {
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 3px;
    overflow: hidden;
}

#chat_informer .item .title {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 3px;
}

#chat_informer .item .text {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 3px;
    cursor: pointer;
    max-height: 100px;
}

#t_map {
    width: 100%;
    height: 400px;
}

.google_map {
    margin-bottom: 10px;
}
.google_map img {
    max-width: none;
}

#myRequests li {
    cursor: pointer;
    margin-top: 10px;

    font-size: 12px;
    line-height: 15px;
}

#myRequests li.no_request {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    cursor: text;
}

#myRequests li:first-child {
    margin-top: 0;
}

#myRequests li .address {
    color: #0020c1;
    font-size: 13px;
}

#myRequests li .address:hover {
    text-decoration: underline;
}

.row-fluid.condensed [class*="span"] {
    min-height: 20px;
}

#not_valid_tasks {
    position: fixed;
    bottom: 0;
    right: 15px;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

#not_valid_tasks .title {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-weight: bold;
    padding: 3px;
}

#not_valid_tasks ul {
    margin-bottom: 0;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
}

#markLegend .marker {
    padding: 5px 0 0 28px;
    min-height: 32px;
}

#chat .task_wrapper {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.table .bolder_line td {
    border-top: 3px solid #ddd;
    padding: 13px 8px;
}
.task_request {margin-top: 3px}
.task_request .request_approved { display: none; }
.task_request .request_new { display: block; }
.task_request.approved .request_approved { display: block; }
.task_request.approved .request_new { display: none; }

.task_request .btn-block + .btn-block { margin-top: 0; }